@import 'antd/dist/antd.less';
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-routing-machine/dist/leaflet-routing-machine.css';
@import 'react-splitter-layout/lib/index.css';

@primary-color: #1DA57A;
@background-color-light: #f1f1f1;
@layout-header-background: #6aa0c7;

.mapContainer {
    height: 100%;
    width: 100%;
}

.selectItem {
    width: 150px;
}